<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-datepicker"
    version="0.7.1">

    <name>DatePicker</name>

    <description>Cordova/PhoneGap DatePicker Plugin for iOS, Android and Windows Phone</description>

    <license>MIT</license>

    <keywords>cordova,phonegap,datepicker,android,ios,ios7,ios8,wp</keywords>

    <repo>https://github.com/VitaliiBlagodir/cordova-plugin-datepicker.git</repo>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatePickerPlugin">
                <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin"/>
            </feature>
        </config-file>

        <js-module src="www/android/DatePicker.js" name="DatePicker">
            <clobbers target="datePicker" />
        </js-module>

        <source-file src="src/android/DatePickerPlugin.java" target-dir="src/com/plugin/datepicker" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="DatePicker">
            <param name="ios-package" value="DatePicker"/>
        </feature>
        </config-file>

        <js-module src="www/ios/DatePicker.js" name="DatePicker">
            <clobbers target="datePicker" />
        </js-module>

        <header-file src="src/ios/DatePicker.h" />
        <source-file src="src/ios/DatePicker.m" />
        <resource-file src="src/ios/DatePicker.xib" />
    </platform>
	
    <!-- windows -->
    <platform name="windows">		
        <js-module src="www/windows/DatePicker.js" name="DatePicker">
            <clobbers target="datePicker" />
        </js-module>
        <js-module src="src/windows/DatePickerProxy.js" name="DatePickerProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
